
/* Estilos login */
/* #img-background-login {   https://vimeo.com/live-chat/543207075/interaction/
    background: url('/image/Lo-que-leo-imagen-inicio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
} */
html .pace .pace-progress {
    background: #f84c22;
}
#img-background {
    width: 100%;
    height: 100%;
    margin: 0 -8rem 0 -1rem;
    padding: 0.2rem;
}
#content-logo {
    background: #9e7541;
    padding: 1.8rem;
    border-radius: 1rem;
}
.border-login-book {
    border: 3px solid #9e7541 !important;
    margin-bottom: 0 !important;
    border-radius: 1rem;
}
input#email {
    height: 3.5rem;
    border: 1px solid #9e7541;
    border-radius: 2rem;
}
button#btn-login-book {
    background: #9e7541 !important;
    border-color: #9e7541 !important;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600 !important;
}
.btn-primary:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #f84c22;
}


/* Estilos para la navegación */
#main-nav {
    background: #9f793dd1 !important;
    padding: 0 1rem;
}
.navbar-brand {
    margin-right: 3rem !important;
}
.nav-link-book {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 500;
}

.pace .pace-progress {
    background: #E54029;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #c12d04 !important;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #c12d04 !important;
}
li.nav-item #text-programa {
    color: #fff !important;
}

svg#logout-icon {
    margin-top: -5px;
}
